
.calculator{
    text-align: center;
    margin: auto;
    width: 400px;
    border: 4px solid black;
    background-color: black;  
}

.display{
    width: 390px;
    height: 40px;
    border-bottom: 4px solid black;
    font-size: large;
}

.calButtons{
    display: flex;
    width: 400px;
}

button{
    border: 2px solid black;
    border-radius: 8px;
    font-size: large;
    font-weight: bold;
}

.operators{
    width: 100px;
}
.digits{
    display: flex;
    width: 300px;
    height: 400px;
    flex-wrap: wrap-reverse;
    flex-direction: row;
    
}
.digButton{
    width: 100px;
    height: 100px;
    background-color: #0059ff;
}

.opButton{
    width: 100px;
    height: 100px;
    background-color: #ffa500;
}

#zeroButton{
    width: 200px;
    border: 2px solid black;
    border-radius: 8px;
}

.botButtons{
    display: flex;
}

#clearButton{
    width: 200px;
    height: 100px;
    background-color: #ff006f;
}

#backspaceButton{
    width: 100px;
    height: 100px;
    background-color: #55bd01;
}