
.calculator{
    text-align: center;
    margin: auto;
    width: 400px;
    border: 4px;
    border-color: black;
    border-style: solid;  
    background-color: black;  
}

.display{
    width: 390px;
    height: 40px;
    border-bottom: 2px solid black;
    font-size: large;
}

.calButtons{
    display: flex;
    width: 400px;
}

button{
    border: 2px solid black;
    border-radius: 8px;
    font-size: large;
    font-weight: bold;
}

.operators{
    width: 100px;
}
.digits{
    display: flex;
    width: 300px;
    height: 400px;
    flex-wrap: wrap-reverse;
    flex-direction: row;
    
}
.digButton{
    width: 100px;
    height: 100px;
    background-color: lightgreen;
}

.opButton{
    width: 100px;
    height: 100px;
    background-color: orange;
}

#zeroButton{
    width: 200px;
    border: 2px solid black;
    border-radius: 8px;
}

.clearButton{
    width: 300px;
    height: 100px;
    background-color: dodgerblue;
}